.tweet-bar {
  background: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;

  .image-and-input {

    .image {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .input {
      background: #F2F6F9;
      border: none;
      resize: none;

      &:placeholder {
        color: rgb(160, 160, 160);
      }
    }

    .white-button {
      display: block;
      margin-right: 10px;
      margin-left: auto;
      margin-top: 10px;
    }
  }
}