.tweet {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;

  p {
    font-size: 15px;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tweet--main {
    .tweet-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .tweet-name {
        display: flex;
        flex-direction: column;
      }

      p {
        margin: 0;
      }

      .author {
        font-size: 16px;
        font-weight: 700;
      }

      .at-author {
        margin-left: 0px;
        color: rgb(160, 160, 160);
      }

      .tweet-menu {
        position: relative;
        display: block;
        margin-left: auto;
        cursor: pointer;

        .tweet-options {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%);
          background: white;
          width: 180px;
          height: auto;
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, .6);
          text-align: center;

          p {
            text-transform: uppercase;

            &:hover {
              color: #1da1f2;
            }
          }
        }
      }
    }

    .like-rt {
      display: flex;
      justify-content: space-between;
      width: 30%;

      img {
        width: 20px;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  .tweet {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;

    .tweet--main {
      .tweet-info {  
        .tweet-name {
          display: flex;
          flex-direction: row;
          .at-author {
            margin-left: 20px;
          }
        }
      }
    }
  }
}