.sidebar {
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  text-transform: uppercase;

  > a {
    color: inherit;
    margin-right: 20px;
    &:hover {
      text-decoration: none;
    }
  }
  
  img {
    max-width: 40px;
  }

  .sign-in-sign-up {
    position: relative;
    cursor: pointer;

    .person {
      width: 40px;
      height: 40px;
      fill: #1da1f2;
    }

    .sub-menu {
      width: 100px;
      height: auto;
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 50%;
      transform: translate(-50%);
      background-color: white;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.5);

      .option {
        color: inherit;

        &:hover {
          color: #1da1f2;
        }
      }
    }
  }
}