body {
  padding: 20px;
  background-color: #F2F6F9 !important;
}

body p {
  font-weight: 400;
  font-size: 19px;
}

body h1 {
  font-size: 36px;
}

body h2 {
  font-size: 32px;
}

body h3 {
  font-size: 28px;
}

body a {
  color: inherit;
}

body a:hover {
  text-decoration: none;
  color: #1da1f2;
}